# ----------- #
# .gitmodules #
# ----------- #

[submodule "awesome-react"]
	path = awesome-react
	url = https://github.com/enaqx/awesome-react

# EOF #
[submodule "awesome-lists"]
	path = awesome-lists
	url = https://github.com/sindresorhus/awesome
[submodule "awesome-windows"]
	path = awesome-windows
	url = https://github.com/Awesome-Windows/Awesome
[submodule "awesome-cli-apps"]
	path = awesome-cli-apps
	url = https://github.com/agarrharr/awesome-cli-apps
[submodule "awesome-pentest"]
	path = awesome-pentest
	url = https://github.com/enaqx/awesome-pentest
[submodule "awesome-git"]
	path = awesome-git
	url = https://github.com/dictcp/awesome-git
[submodule "awesome-command-line-apps"]
	path = awesome-command-line-apps
	url = https://github.com/herrbischoff/awesome-command-line-apps
[submodule "awesome-console-services"]
	path = awesome-console-services
	url = https://github.com/chubin/awesome-console-services
