# ----------- #
# .gitmodules #
# ----------- #

[submodule "awesome-react"]
	path = awesome-react
	url = https://github.com/enaqx/awesome-react

# EOF #
[submodule "awesome-lists"]
	path = awesome-lists
	url = https://github.com/sindresorhus/awesome
[submodule "awesome-windows"]
	path = awesome-windows
	url = https://github.com/Awesome-Windows/Awesome
[submodule "awesome-cli-apps"]
	path = awesome-cli-apps
	url = https://github.com/agarrharr/awesome-cli-apps
